/* Predefined */

:root{
    --black: #0f0b08;
    --green: #8a9b3b;
    --yellow: #ffc349;
    --orange: #f68d4b;
    --red: #e65735;
    --olive: #654d21;

	--max-width: 1024px;
	--max-form-width: 512px;

	--padding: 32px;
	--margin: 24px;
}

/* Fonts */

@font-face{
  font-family: PixelFont;
  src: url(fonts/PixelFont.ttf);
}

/* Structure */

html{
    background-color: var(--black);
	color: var(--yellow);    
    font-family: PixelFont;
    font-size: 32px;
}

body{
	margin: 0px;
}

main{
	padding-top: var(--padding);
	padding-bottom: var(--padding);
    background-color: var(--yellow);
    color: var(--black);
}

header, footer{
    background-color: var(--black);
    color: var(--yellow);
}

header{
	text-align: center;
}

footer{
    font-size: 32px;
}

main, header, footer{
	box-sizing: border-box;
	width: 100%;
	padding-left: var(--padding);
	padding-right: var(--padding);
}

.centered > *:not(script), .content > *, form > *, .article-preview > *, .article > *, .comment > *, .markdown > *{
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: var(--margin);
	margin-top: var(--margin);
}

/* General Element Styling */

h1, h2{
    font-weight: normal;
}

h1{
    font-size: 64px;
}

h2{
	font-size: 48px;
}

ul{
    padding-left: 24px;
    list-style-type: square;
}

img{
    image-rendering: pixelated;
}

#title{
    width: 100%;
    max-width: 512px;
}

a{
	text-decoration: none;
	color: var(--yellow);
    outline: none;
}

main a{
    color: var(--black);
}

a:hover, a:focus{
    color: var(--red);
}

#title{
	display: inline-block;
	padding: 0px;
	background-color: transparent;
}

pre{
	overflow-x: auto;
}

/* Tables */

table{
	width: 100%;
	table-layout: fixed;
	border-spacing: 0px;
}

tr:not(:last-child) > *{
	border-bottom: 2px solid var(--black);
}

th, td{
	text-align: left;
	padding-left: 0.2em;
	padding-right: 0.2em;
    overflow-wrap: break-word;
    font-weight: normal;
}

/* Form and Button Styling */

form:not(.full-width){
	margin: auto;
	max-width: var(--max-form-width);
}

input, .button{
	box-sizing: border-box;
	width: 100%;
}

input{
	outline: none;
	border: none;
	color: var(--black);
	font-size: var(--text-size);
	font-family: var(--text-font);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=text], input[type=password], input[type=email]{
	padding: 0px;
	padding: 4px;
	/*border: 2px solid var(--black);*/
    background-color: var(--red);
}

input[type=text]:hover, input[type=text]:focus, input[type=password]:hover, input[type=password]:focus, input[type=email]:hover, input[type=email]:focus{
}

input[type=submit], .button{
	padding: 8px;
	text-align: center;
	background-color: var(--black);
    color: var(--red);
    text-decoration: none;
    cursor: pointer;
    border-top: 4px solid var(--red);
}

input[type=submit]:hover, .button:hover, input[type=submit]:focus, .button:focus{
}

input[type=submit]:active, input[type=submit].active, .button:active, .button.active{
    border-top: 2px solid var(--red);
    margin-bottom: calc(var(--margin) + 2px);
}

.errors li{
	color: var(--red);
}

.errors ul{
	margin: 0px;
}

/* Navigation */

nav{
	background-color: var(--black);
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	display: flex;
	justify-content: center;
	align-self: flex-start;
    flex-flow: row wrap;
    z-index: 100;
}

nav > a{
	margin: 8px;
	margin-top: 16px;
	margin-bottom: 16px;
}

nav > a.active, nav > a.active:hover, nav > a.active:focus{
	color: var(--red);
}

/* Alignment */

div .flex{
	display: flex;
	justify-content: space-between;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.centered{
	max-width: var(--max-width);
	margin: auto;
	box-sizing: border-box;
}
