/* Predefined */

:root{
    --black: #0f0b08;
    --green: #8a9b3b;
    --yellow: #ffc349;
    --orange: #f68d4b;
    --red: #e65735;
    --olive: #654d21;

	--max-width: 1024px;
	--max-form-width: 512px;

	--padding: 32px;
    --margin: 24px;
    
    --transition: 200ms;
}

/* Fonts */

@font-face{
  font-family: PixelFont;
  src: url(/fonts/PixelFont.ttf);
}

/* Structure */

html{
    background-color: var(--black);
    font-family: PixelFont;
    font-size: 32px;
    text-rendering: optimizeSpeed !important;
}

body{
	margin: 0px;
}

main{
	padding-top: var(--padding);
	padding-bottom: var(--padding);
    background-color: var(--green);
    color: var(--black);
}

header, footer{
    background-color: var(--black);
    color: var(--green);
}

header{
	text-align: center;
}

footer{
    font-size: 32px;
}

main, header, footer{
	box-sizing: border-box;
	width: 100%;
	padding-left: var(--padding);
	padding-right: var(--padding);
}

form:not(.low-key) > *:not(script), .block > *:not(script){
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: var(--margin);
	margin-top: var(--margin);
}

/* General Element Styling */

h1, h2, h3{
    font-weight: normal;
    /*text-shadow: 0em 0.0625em var(--red);*/
}

h1{
    font-size: 64px;
}

h2{
	font-size: 48px;
}

h3{
	font-size: 32px;
}

ul{
    padding-left: 24px;
    list-style-type: square;
}

img{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

a{
	text-decoration: none;
	color: var(--green);
    outline: none;
    position: relative;
    transition: var(--transition);
}

a:not([id]):not([class]){
    white-space: nowrap;

}

a:not([id]):not([class])::before{
    content: "";
    position: absolute;
    width: calc(100% - 2px);
    height: 2px;
    bottom: 4px;
    left: 0px;
    background-color: var(--green);
    transition: var(--transition);
}

main a{
    color: var(--black);
}

main a:not([id]):not([class])::before {
    background-color: var(--black);
}

a:hover, a:focus{
    color: var(--orange);
}

a:not([id]):not([class]):hover::before, a:not([id]):not([class]):focus::before{
    background-color: var(--orange);
}

a:active{
	color: var(--red);
}

a:not([id]):not([class]):active::before{
	background-color: var(--red);
}

pre{
    overflow-x: auto;
    overflow-y: hidden;
}

.overflow{
    overflow-x: auto;
    overflow-y: hidden;
}

/* Tables */

table{
    border-spacing: 0px;
    display: table !important;
}

table.list{
    width: 100%;
}

table.list > tbody > tr > *{
    border-top: 2px solid var(--black);
}

table.list > tbody > tr:last-child > *{
    border-bottom: 2px solid var(--black);
}

table.list td > *:not(script){
	margin-bottom: 0px;
    margin-top: 0px;
}

th, td{
	text-align: left;
    white-space: nowrap;
    font-weight: normal;
    padding: 0px;
    padding-left: 8px;
    padding-right: 8px;
}

th{
    background-color: var(--black);
    color: var(--green);
}


table:not(.list) > tbody > tr > th:first-child, table:not(.list) > tbody > tr > td:first-child{
    padding-left: 0px;
}

table:not(.list) > tbody > tr > th:last-child, table:not(.list) > tbody > tr > td:last-child{
    padding-right: 0px;
}


/* Form and Button Styling */

form:not(.low-key){
	margin: auto;
	max-width: var(--max-form-width);
}

input, .button{
	box-sizing: border-box;
	width: 100%;
}

input{
	outline: none;
	border: none;
	color: var(--black);
	font-size: var(--text-size);
	font-family: var(--text-font);
	-webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
    border-radius: 0px;
    transition: var(--transition);
    line-break: auto;
}

input[type=radio]{
    width: 16px;
    height: 16px;
    margin-left: 8px;
    margin-right: 32px;
    border: 2px solid var(--black);
}

input[type=radio]:checked{
    background-color: var(--red);
}

input[type=range]{
    height: 8px;
    background-color: var(--black);
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: var(--orange);
    cursor: pointer;
    transition: var(--transition);
    border: none;
    border-radius: 0px;
}

input[type=range]::-webkit-slider-thumb:hover, input[type=range]::-webkit-slider-thumb:focus{
    background-color: var(--red);
}

input[type=range]::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: var(--orange);
    cursor: pointer;
    transition: var(--transition);
    border: none;
    border-radius: 0px;
}

input[type=range]::-moz-range-thumb:hover, input[type=range]::-moz-range-thumb:focus{
    background-color: var(--red);
}

input[type=text], input[type=password], input[type=email]{
	padding: 0px;
    padding: 4px;
	border-bottom: 4px solid var(--black);
    background-color: var(--orange);
}

input[type=text]:hover, input[type=text]:focus, input[type=password]:hover, input[type=password]:focus, input[type=email]:hover, input[type=email]:focus{
    background-color: var(--red);
}

input[type=submit], .button{
	padding: 8px;
	text-align: center;
	background-color: var(--black);
    color: var(--orange);
    text-decoration: none;
    cursor: pointer;
    border-top: 4px solid var(--orange);
}

input[type=submit]:hover, .button:hover, input[type=submit]:focus, .button:focus{
    color: var(--red);
    border-top: 4px solid var(--red);
}

input[type=submit]:active, .button:active{
    border-top: 2px solid var(--red);
    margin-bottom: calc(var(--margin) + 2px);
}

.errors li{
	color: var(--red);
}

.errors ul{
	margin: 0px;
}

/* Navigation */

nav{
	background-color: var(--black);
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	display: flex;
	justify-content: center;
	align-self: flex-start;
    flex-flow: row wrap;
    z-index: 100;
    padding-left: calc(var(--margin) - 8px);
    padding-right: calc(var(--margin) - 8px);
    padding-top: 8px;
    padding-bottom: 8px;
}

nav > a{
    margin-left: 8px;
    margin-right: 8px;
}

nav > a.active {
    color: var(--red);
    transition: none;
}

nav > a.active::before {
    content: "";
    position: absolute;
    width: calc(100% - 2px);
    height: 2px;
    bottom: 4px;
    left: 0px;
    background-color: var(--red);
    transition: none;
}

/* Alignment */


.flex{
	display: flex;
    justify-content: space-between;
}

.left{
	text-align: left !important;
}

.right{
	text-align: right !important;
}

.centered{
	max-width: var(--max-width);
	margin: auto;
	box-sizing: border-box;
}

/* Specific Elements */

.footer-element{
    text-align: center;
    display: inline-block !important;
    width: 33.3% !important;
    vertical-align: top;
}

@media only screen and (max-width: 512px){
    .footer-element{
        width: 100% !important;
    }
    
    .footer-element:not(:last-child){
        margin-bottom: 0px;
    }

    .footer-element.left{
        text-align: center !important;
    }
    
    .footer-element.right{
        text-align: center !important;
    }
}

.social{
    border-bottom: none;
}

.social img{
    vertical-align: middle;
    width: 32px;
    height: 32px;
}

#title{
	display: inline-block;
	padding: 0px;
    background-color: transparent;
    width: 100%;
    max-width: 512px;
}

.healthbar{
    width: 128px;
    height: 16px;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    background-color: var(--orange);
    position: relative;
    border: 2px solid var(--black);
}

.healthbar .bar{
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: var(--red);
}

.healthbar .percentage{
    position: absolute;
    top: 0px;
    left: calc(50% + 2px);
    font-size: 16px;
}

.healthbar .icon{
    position: absolute;
    top: 2px;
    left: calc(50% - 12px - 2px);
    height: 12px;
    width: 12px;
}

.creature{
    width: 128px;
    height: 128px;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

.item{
    width: 64px;
    height: 64px;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    vertical-align: middle;
}

#map{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

#map img{
    position: absolute;
    width: 100%;
}

#map table{
    position: absolute;
    width: 100%;
}

#map table td{
    width: 25%;
    padding-bottom: 25%;
    opacity: 0;
    transition: var(--transition);
}

#map table td:hover{
    opacity: 0.2;
    background-color: var(--black);
}