{{include "top.html"}}
    <h1>{{print translate "map"}}</h1>
    <script src="/scripts/map.js"></script>
    <div id="map">
        <img src="/media/images/map.png"></img>
        <table>
            <tr>
                <td class="map-tile" region="Ohmstal"></td>
                <td class="map-tile" region="Schötz"></td>
                <td class="map-tile" region="Sursee"></td>
                <td class="map-tile" region="Eich"></td>
            </tr>
            <tr>
                <td class="map-tile" region="Zell"></td>
                <td class="map-tile" region="Willisau"></td>
                <td class="map-tile" region="Buttisholz"></td>
                <td class="map-tile" region="Sempach"></td>
            </tr>
            <tr>
                <td class="map-tile" region="Hergiswil bei Willisau"></td>
                <td class="map-tile" region="Menzberg"></td>
                <td class="map-tile" region="Wolhusen"></td>
                <td class="map-tile" region="Malters"></td>
            </tr>
            <tr>
                <td class="map-tile" region="Napf"></td>
                <td class="map-tile" region="Entlebuch"></td>
                <td class="map-tile" region="Schwarzenberg"></td>
                <td class="map-tile" region="Pilatus"></td>
            </tr>
        </table>
    </div>
{{include "bottom.html"}}
