<nav>
	{{
        if equals get "username" variables null
            print "<a href=\"/\">"
			print translate "home"
			print "</a>"
			print "<a href=\"/signin\">"
			print translate "signin"
			print "</a>"
		end
        if not equals get "username" variables null
            print "<a href=\"/game/map\">"
			print translate "map"
            print "</a>"
            print "<a href=\"/game/survivors\">"
            print translate "survivors"
            print "</a>"
            print "<a href=\"/game/inventory\">"
            print translate "inventory"
            print "</a>"
            print "<a href=\"/game/ranking\">"
            print translate "inventory"
            print "</a>"
			print "<a href=\"/profile\">"
			print translate "profile"
			print "</a>"
		end
	}}
</nav>
