<table class="list">
    <tr>
        <td>{{print translate "uptime"}}</td>
        <td class="tminus" minus="{{print get "uptime" variables}}"></td>
    </tr>
    <tr>
        <td>{{print translate "handles-per-day"}}</td>
        <td>{{print get "handles-per-day" variables}}</td>
    </tr>
    <tr>
        <td>{{print translate "bytes-per-day"}}</td>
        <td>{{print get "bytes-per-day" variables}}</td>
    </tr>
    <tr>
        <td>{{print translate "sessions"}}</td>
        <td>{{print get "sessions" variables}}</td>
    </tr>
    <tr>
        <td>{{print translate "active-sessions"}}</td>
        <td>{{print get "active-sessions" variables}}</td>
    </tr>
</table>
