<table>
  <tr>
    <th>{{print translate "uptime"}}</th>
    <td>{{print get "uptime" variables}}</td>
  </tr>
  <tr>
    <th>{{print translate "sessions"}}</th>
    <td>{{print get "sessions" variables}}</td>
  </tr>
  <tr>
    <th>{{print translate "active-sessions"}}</th>
    <td>{{print get "active-sessions" variables}}</td>
  </tr>
  <tr>
    <th>{{print translate "handles-per-day"}}</th>
    <td>{{print get "handles-per-day" variables}}</td>
  </tr>
  <tr>
    <th>{{print translate "bytes-per-day"}}</th>
    <td>{{print get "bytes-per-day" variables}}</td>
  </tr>
</table>
