<h1>
	{{
		if equals get "username" variables null
			print translate "hello"
			print ", "
			print translate "world"
			print "!"
		end
		if not equals get "username" variables null
			print translate "hello"
			print ", "
			print htmlencode get "username" variables
			print "!"
		end
	}}
</h1>
<p>{{print translate "article-published-email-introduction"}}</p>
<h2>{{print get "headline" variables}}</h2>
<p>{{print get "lead" variables}}</p>
<p>{{print translate "article-published-email-link"}}</p>